<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h2>Create a New Listing</h2>
        <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" type="text" placeholder="Add title" class="form-control" required> <!--class="form-control" from bootstrap-->
                <div class="valid-feedback">Title Looks Good</div>
                <div class="invalid-feedback">Listing must have Title</div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" type="text" class="form-control" required></textarea >
                <div class="invalid-feedback">Description needed</div>
            </div>
            
            <div class="mb-3">
                <label for="image" class="form-label">Upload Image</label>
                <input name="listing[image]" type="file" class="form-control" required>
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" type="number" placeholder="1200" class="form-control" required>
                    <div class="invalid-feedback">Price must be entered</div>
                </div>
    
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" type="text" placeholder="India" class="form-control" required>
                    <div class="invalid-feedback">Country name should be valid</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" type="text" placeholder="Nagpur, Maharashtra" class="form-control" required>
                <div class="invalid-feedback">Location should be valid</div>
            </div>

            <button class="btn btn-dark add-btn mt-3 mb-3">Add</button>
        </form>
    </div> 
</div>
